<div id="getPassword">
    <div class="row">
        <div class="col-md-12">
            <form name="searchForm" novalidate ng-submit="vm.search()">
                <div class="form-group">
                    <label for="searchHouse" class="control-label sr-only">搜索房源</label>
                    <div class="col-md-6 col-sm-6 col-xs-8">
                        <input id="searchHouse" name="searchHouse" type="search" class="form-control" ng-model="vm.searchModel" placeholder="输入房源名称" required/>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-4">
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="room in vm.rooms | filter: room.isDdingLock">
                    <span>
                        <span class="status-icon mr10" ng-class="{on: room.lockStatus === 1, off: room.lockStatus === 2 }"></span><span ng-bind="room.title"></span>&nbsp;&nbsp;<span ng-bind="room.houseno"></span>
                    </span>
                    <div class="pull-right">
                        <button type="button" class="btn" ng-class="{'btn-primary': room.isDdingLock && !room.pwd, 'btn-default': !room.isDdingLock || room.pwd}" ng-click="vm.getPassword(room)" ng-disabled="!room.isDdingLock || room.isGetting || room.pwd">
                            <span ng-if="!room.pwd">
                            {{ room.isDdingLock ? ( room.isGetting ? '获取中..' : '临时密码') : '暂无临时密码'}}
                            </span>
                            <span ng-if='room.pwd' ng-bind="'密码: ' + room.pwd"></span>
                        </button>
                        <button type="button" class="btn" ng-class="{'btn-primary': room.lockStatus === 1, 'btn-default': room.lockStatus === 2}" ng-click="vm.getTimePassword(room)" ng-disabled="room.lockStatus !== 1">时效密码</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" ng-if="vm.rooms.length === 0">
        <div class="col-md-12">
            <p class="text-center">暂无数据</p>
        </div>
    </div>
</div>
