<div id="getPassword">
    <div class="row">
        <div class="col-md-12">
            <form name="searchForm" novalidate ng-submit="vm.search()">
               <div class="form-group">
                   <label for="searchHouse" class="control-label sr-only">搜索房源</label>
                   <div class="col-md-6 col-sm-6 col-xs-8">
                       <input id="searchHouse" name="searchHouse" type="search" class="form-control"
                              ng-model="vm.searchModel" placeholder="输入房源名称" required/>
                   </div>
                  <div class="col-md-2 col-sm-2 col-xs-4">
                      <button type="submit" class="btn btn-primary">搜索</button>
                  </div>
               </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item clearfix" ng-repeat="room in vm.rooms | filter: room.isDdingLock">
                    <span>
                        <span ng-bind="room.title"></span>&nbsp;&nbsp;<span ng-bind="room.houseno"></span>
                    </span>
                    <button ng-if="!room.pwd" type="button" class="btn pull-right" ng-class="{'btn-primary': room.isDdingLock, 'btn-default': !room.isDdingLock}" ng-click="vm.getPassword(room)" ng-disabled="!room.isDdingLock || room.isGetting">
                        {{ room.isDdingLock ? ( room.isGetting ? '获取中..' : '获取锁密码') : '暂无锁密码'}}
                    </button>
                    <span class="pull-right" ng-if='room.pwd' ng-bind="'密码: ' + room.pwd"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" ng-if="vm.rooms.length === 0">
        <div class="col-md-12">
            <p class="text-center">暂无数据</p>
        </div>
    </div>
</div>
