<div id="timePasswordModal">
    <div class="modal-header">
        <button ng-click="vm.close()" type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4>填写信息</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" name="timePasswordForm" ng-submit="vm.ok(timePasswordForm)" novalidate>
            <p class="h20 text-danger" ng-bind="vm.errMsg"></p>
            <div class="form-group">
                <label for="mobile" class="control-label sr-only">手机号</label>
                <div class="col-md-12">
                    <input id="mobile" name="mobile" type="text" class="form-control" required ng-pattern="/(^(13\d|14[57]|15[^4,\D]|17[678]|18\d)\d{8}|170[059]\d{7})$/" ng-model="vm.mobile" placeholder="请输入手机号码">
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="control-label sr-only">姓名</label>
                <div class="col-md-12">
                    <input id="name" type="text" name="name" class="form-control" ng-model="vm.name" placeholder="请输入您的姓名" required>
                </div>
            </div>
            <div class="form-group">
                <label for="time" class="control-label sr-only">时间</label>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <input ng-model="vm.time" type="number" min="0" class="form-control" name="time" id="time" placeholder="输入数字" required>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <label class="col-md-12">
                        <input id="hour" type="radio" name="hour" value="1" ng-model="vm.dateType"> 小时
                    </label>
                    <label class="col-md-12">
                        <input id="night" type="radio" name="night" value="2" ng-model="vm.dateType"> 晚
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">确认</button>
            <button type="button" class="btn btn-default" ng-click="vm.close()">取消</button>
        </form>
    </div>
</div>
