<div id="summary" class="container-fuild">
    <div class="row">
    	<div class="col-md-3 col-sm-3 col-xm-3">
    		<label for="selectHotel">选择小区</label>
    		<input id="selectHotel" type="text" 
    			ng-model="vm.selectedHotel" 
    			placeholder="输入小区名称" 
    			uib-typeahead="hotel as hotel.hotelName for hotel in vm.hotels | filter: {hotelName: $viewValue}" 
    			typeahead-loading="loadingHotel"
    		    typeahead-no-results="noResults" 
    		    class="form-control">

		    <!-- <i ng-show="loadingHotel" class="glyphicon glyphicon-refresh"></i>
		    <div ng-show="noResults">
		      <i class="glyphicon glyphicon-remove"></i> 暂无数据
		    </div> -->
    	</div>
        <div class="col-md-2 col-sm-2 col-xm-2">
        	<label for="datePicker">日期选择</label>
            <div class="input-group">
        		<input id="datePicker" type="text" 
                	class="form-control" 
                	ng-model="vm.datepicker.date" 
                	is-open="vm.datepicker.open" 
                	uib-datepicker-popup
                	datepicker-options="vm.datepicker.options" 
                	ng-change="vm.dateChange()"
                	current-text="今天"
                	clear-text="清除"
                	close-text="关闭"/>

                <span class="input-group-btn">
	            	<button type="button" class="btn btn-default" ng-click="vm.datepicker.open = true;">
	            		<i class="glyphicon glyphicon-calendar"></i>
	            	</button>
	          	</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xm-4">
        	<p>所选日期在住数/总数：<span ng-bind="vm.occupany.occupany"></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span ng-bind="vm.occupany.total"></span>（<span ng-bind="vm.occupany.occupanyRate * 100 + '%'"></span>）</p>
        </div>
        <div class="col-md-3 col-sm-3 col-xm-3">
        	<p>所选日期不可用房/总数：<span ng-bind="vm.occupany.oooRoomCount"></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span ng-bind="vm.occupany.total"></span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xm-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover" stick-up>
                    <thead>
                        <tr>
                            <th ng-class="{'cursor-pointer': theader.predicate}" 
                                ng-click="vm.order(theader.predicate)"
                                ng-repeat="theader in vm.tableHeaders">
                                <span ng-bind="::theader.txt"></span>

                                <span ng-if="(vm.predicate === theader.predicate) && theader.predicate" ng-class="{'glyphicon-triangle-bottom': vm.reverse, 'glyphicon-triangle-top': !vm.reverse}" class="glyphicon"></span>                            
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="summary in vm.summarys | orderBy:vm.predicate:vm.reverse | filter: {hotelName: vm.selectedHotel.hotelName}">
                            <!-- <td ng-bind="::summary.statusDate.substr(0, 10)"></td> -->
                            <td ng-bind="summary.hotelName"></td>
                            <td ng-if="summary.TotalRoomCount === 0">-</td>
                            <td ng-if="summary.TotalRoomCount !== 0" ng-bind="summary.occupanyRate * 100 + '%'"></td>
                            <td ng-bind="summary.occupyRoomCount"></td>
                            <td ng-bind="summary.oooRoomCount"></td>
                            <td ng-bind="summary.TotalRoomCount"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>

    <div class="row" ng-if="vm.summarys.length === 0">
    	<div class="col-md-12 col-sm-12 col-xm-12">
    		<p class="tc">暂无数据</p>
    	</div>
    </div>
</div>
