<div id="summary" class="container-fuild">
    <div class="row">
    	<div class="col-md-3">
    			选择小区：
    		<input type="text" 
    			ng-model="vm.selectedHotel" 
    			placeholder="输入小区名称" 
    			uib-typeahead="hotel as hotel.hotelName for hotel in vm.hotels | filter: {hotelName: $viewValue}" 
    			typeahead-on-select="vm.hotelSelect()"
    			typeahead-loading="loadingHotel"
    		    typeahead-no-results="noResults" 
    		    class="form-control">

		    <i ng-show="loadingHotel" class="glyphicon glyphicon-refresh"></i>
		    <div ng-show="noResults">
		      <i class="glyphicon glyphicon-remove"></i> 暂无数据
		    </div>
    	</div>
        <div class="col-md-3">
        	日期选择:
            <p class="input-group">
        		<input type="text" 
                	class="form-control" 
                	ng-model="vm.datepicker.date" 
                	is-open="vm.datepicker.open" 
                	uib-datepicker-popup
                	datepicker-options="vm.datepicker.options" 
                	ng-change="vm.dateChange()"
                	current-text="今天"
                	clear-text="清除"
                	close-text="关闭"/>

                <span class="input-group-btn">
	            	<button type="button" class="btn btn-default" ng-click="vm.datepicker.open = true;">
	            		<i class="glyphicon glyphicon-calendar"></i>
	            	</button>
	          	</span>
            </p>
        </div>
        <div class="col-md-3">
        	<p>所选日期在住数：<span ng-bind="vm.occupany.occupany"></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span ng-bind="vm.occupany.total"></span></p>
        </div>
        <div class="col-md-3">
        	<p>所选日期不可用房：<span></span>&nbsp;&nbsp;/&nbsp;&nbsp;<span></span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <caption>status table</caption>
                <thead>
                    <tr>
                        <!-- <th>日期</th> -->
                        <th>小区</th>
                        <th class="cursor-pointer" ng-click="vm.order('occupanyRate');">
                        	入住率
                        	<span ng-if="vm.predicate" ng-class="{'glyphicon-triangle-bottom': vm.reverse, 'glyphicon-triangle-top': !vm.reverse}" class="glyphicon"></span>
                    	</th>
                    	<th>入住数</th>
                        <th>不可用房</th>
                        <th>总数</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="summary in vm.pageSummarys | orderBy:vm.predicate:vm.reverse">
                        <!-- <td ng-bind="::summary.statusDate.substr(0, 10)"></td> -->
                        <td ng-bind="summary.hotelName"></td>
                        <td ng-if="summary.TotalRoomCount === 0">-</td>
                        <td ng-if="summary.TotalRoomCount !== 0" ng-bind="summary.occupanyRate * 100 + '%'"></td>
                        <td ng-bind="summary.oooRoomCount"></td>
                        <td ng-bind="summary.occupyRoomCount"></td>
                        <td ng-bind="summary.TotalRoomCount"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
    	<div class="col-md-12 clearfix">
    		 <uib-pagination 
    		 	num-pages="numPages"
             	items-per-page="vm.pagination.pageSize"
             	boundary-links="true"
             	class="pull-right"
             	previous-text="&lsaquo;" 
             	next-text="&rsaquo;" 
             	first-text="&laquo;" 
             	last-text="&raquo;"
             	max-size="vm.pagination.maxSize"
             	total-items="vm.pagination.totalItems" 
             	ng-model="vm.pagination.currentPage" 
             	ng-change="vm.pageChanged()">
             	</uib-pagination>
    	</div>
    </div>	
</div>
