<!DOCTYPE html>
<html lang="en" ng-app="ylrent.rpt">

<head>
    <meta charset="UTF-8">
    <title>ylrent data report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./src/site.css">
</head>

<body ng-controller="MainController as vm">

	<div id="header">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		        <img alt="YLRent"/>
		      </a>
		    </div>
		  </div>
		</nav>
	</div>

	<div class="container-fluid">

		<div class="row">
			<div class="col-md-2">
				<div ng-repeat="(key, obj) in vm.sidebar">
					<h5 ng-bind="::obj.name"></h5>
					<div class="list-group">
						<a class="list-group-item" ng-repeat="menu in obj.subMenus" ui-sref="{{menu.baseKey}}.{{menu.key}}" ng-bind="::menu.name"></a>
					</div>
				</div>
			</div>
			<div class="col-md-10" ui-view></div>
		</div>
    </div>

    <!-- libs -->
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-touch/angular-touch.js"></script>
    <script src="./node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="./node_modules/angular-resource/angular-resource.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="./node_modules/angular-i18n/angular-locale_zh-cn.js"></script>
    <script src="./node_modules/moment/moment.js"></script>
    <script src="./node_modules/underscore/underscore.js"></script>


    <!-- app -->
    <script src="./src/app.js"></script>
    <script src="./src/router.js"></script>
    <script src="./src/service.js"></script>
    <script src="./src/occupancy/summary/summary.controller.js"></script>
    <script src="./src/occupancy/summary/summary.service.js"></script>
    <script src="./src/occupancy/cannotoccupancy/cannotoccupancy.controller.js"></script>
    <script src="./src/occupancy/cannotoccupancy/cannotoccupancy.service.js"></script>
    <script src="./src/occupancy/tomorrowcheckout/tomorrowcheckout.controller.js"></script>
    <script src="./src/occupancy/tomorrowcheckout/tomorrowcheckout.service.js"></script>
    <script src="./src/occupancy/tomorrowoccupancy/tomorrowoccupancy.controller.js"></script>
    <script src="./src/occupancy/tomorrowoccupancy/tomorrowoccupancy.service.js"></script>
    <script src="./src/order/daily/daily.controller.js"></script>
    <script src="./src/order/daily/daily.service.js"></script>
</body>

</html>
