<div id="cannotoccupancy">
	<div class="row">
		<p class="col-md-12 col-sm-12 col-xs-12">
			<span ng-bind="::vm.date"></span>不可用房数据统计
		</p>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="table-responsive">
				
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>小区</th>
							<th>交房</th>
							<th>未交房</th>
							<th>未装修</th>
							<th>装修中</th>
							<th>开荒打扫</th>
							<th>待送家具</th>
							<th>维修</th>
							<th>长租准备</th>
							<th class="cursor-pointer" ng-click="vm.order('total')">
								总数
								<span ng-if="vm.predicate === 'total'" 
	                        		ng-class="{'glyphicon-triangle-bottom': vm.reverse, 'glyphicon-triangle-top': !vm.reverse}" 
	                        		class="glyphicon">
	                        	</span>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="data in vm.dataArr | orderBy:vm.predicate:vm.reverse">
							<td ng-bind="::data.key"></td>
							<td ng-bind="::data.deliver"></td>
							<td ng-bind="::data.notDelivered"></td>
							<td ng-bind="::data.notDecorated"></td>
							<td ng-bind="::data.decorating"></td>
							<td ng-bind="::data.clean"></td>
							<td ng-bind="::data.pendingFurniture"></td>
							<td ng-bind="::data.repair"></td>
							<td ng-bind="::data.longRent"></td>
							<td ng-bind="::data.total"></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td ng-if="vm.totalData.length">汇总</td>
							<td ng-repeat="data in vm.totalData" ng-bind="::data.count"></td>
						</tr>
					</tfoot>
				</table>
			</div>
				
		</div>
	</div>

	<div class="row" ng-if="vm.rooms.length === 0">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<p class="tc">暂无数据</p>
		</div>
	</div>
</div>
