.cursor-pointer{
	cursor: pointer;
}

.tc{text-align: center;}

#summary input + .dropdown-menu{
	width: calc(100% - 30px);
	max-height: 200px;
	overflow: auto;
}

body{
	font-family: 'Microsoft Yahei';
}