.cursor-pointer{
	cursor: pointer;
}

.tc{text-align: center;}

#summary input + .dropdown-menu{
	width: calc(100% - 30px);
	max-height: 200px;
	overflow: auto;
}

body{
	font-family: 'Microsoft Yahei';
	min-width: 320px;
	overflow: auto;
}

.wp100{width: 100%;}

.date-picker-control i{
	position: absolute;
    bottom: 10px;
    right: 24px;
    top: auto;
    cursor: pointer;
}

a.disabled{
	color: #ddd;
}

tfoot td{
	font-weight: bold;
}

.row{
	margin-bottom: 15px;
}

thead{background-color: #fff;}

.uib-datepicker-popup{
	z-index: 9999;
}
