.cursor-pointer {
    cursor: pointer;
}

.tc {
    text-align: center;
}

#summary input + .dropdown-menu {
    width: calc(100% - 30px);
    max-height: 200px;
    overflow: auto;
}

body {
    font-family: 'Microsoft Yahei';
    min-width: 320px;
    overflow: auto;
}

.wp100 {
    width: 100%;
}

.h20 {
    height: 20px;
}

a.disabled {
    color: #ddd;
}

tfoot td {
    font-weight: bold;
}

.row {
    margin-bottom: 15px;
}

thead {
    background-color: #fff;
}

.mr10 {
    margin-right: 10px;
}

.uib-datepicker-popup {
    z-index: 9999;
}

.status-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 50%;
    vertical-align: middle;
}

.status-icon.off {
    background-color: red;
}

.status-icon.on {
    background-color: green;
}
